/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  overflow: hidden;
  background-color: lightblue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80%;
  max-width: 600px;
  max-height: 610px;
  background: rgb(217, 235, 241);
  padding: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

button {
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
  min-width: 150px;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.swal2-confirm:disabled {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed;
}
/* Timer Bar */
.timer {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 4px;
  height: 20px;
  margin-bottom: 10px;
  overflow: hidden;
}

.timer-bar {
  background-image: linear-gradient(
    to right,
    #4aa1f3 0%,
    #007bff 50%,
    #0056b3 100%
  );
  height: 100%;
  width: 100%;
  transition: width 1s linear;
}

.time-left {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  font-weight: 700;
  width: 10%;
  flex-shrink: 0;
}

/* Question Container */
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.name {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}
.name > span {
  font-weight: 400;
}
#question-container {
  font-family: "Playwrite MX Guides", "Playwrite CO Guides", serif;
  font-weight: 400;
  font-size: 12px;
  margin: 10px 0;
}

#question-image {
  width: 60%;
  max-height: 150px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
}

#answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#answers button {
  font-family: "Playwrite MX Guides", "Playwrite CO Guides", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 16px;
  background-color: #f7f7f7;
  color: #333;
  border: 1px solid #82c3f1;
  text-align: left;
  padding: 10px;
  transition: background-color 0.3s;
}

#answers button:hover {
  background-color: #bceaff;
}

#answers button.selected {
  background-color: #44a7ed;
}

/* Result Page */
#result-page p {
  font-size: 18px;
  margin: 20px 0;
}
.progress-bar {
  position: relative;
  justify-self: center;
  width: 250px;
  height: 250px;
  background-color: #ebebeb;
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px;
}
svg {
  overflow: visible;
}
